* {
  box-sizing: border-box;
}

body {
  background-color: #0a0c1b;
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 13px;
  color: #9f9db4;
  line-height: 1.7;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  display: flex;
  max-width: 1200px;
  max-height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.left-side {
  background-color: #1c1938;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}


h1.title {
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 0;
}

.title {
  color: #fff;
  font-size: 1.8em;
  font-family: Inter, sans-serif;
}

.title span {
  color: #a659d6;
}

p.title {
  font-size: 1.2em;
  margin-bottom: 0;
  font-weight: 700;
}

p.subtitle{
  margin-top: 10px;
  line-height: 0;
  font-weight: 400;
  font-size: .6em;
  letter-spacing: 1px;
}

.stats {
  display: flex;
  margin-top: 2em;
}

.col {
  margin-right: 15%;
}

.right-side {
  position: relative;
  width: 100%;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: hsl(277, 88%, 29%);
  opacity: 0.6;
}

.right-side img {
  width: 100%;
  height: 100%;
}

@media screen and (width < 800px) {
  .container {
    display: block;
    margin-top: 10%;
  }
  .card {
    flex-direction: column;
    overflow: hidden;
    max-height: initial;
  }

  h1.title {
    font-size: 1.5em;
  }
  .right-side {
    order: 0;
    max-height: 300px;
  }

  .left-side {
    order: 1;
    text-align: center;
    padding: 35px;
  }

  .stats {
    flex-direction: column;
    align-items: center;
    margin-top: 1.2em;
  }

  .col {
    margin-right: 0;
  }
}
